<%= render 'pages/navbar' %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @article.user.email %>
</p>

<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>
<% if user_signed_in? %>
  <%= link_to 'Edit', edit_article_path(@article) %> |
  <%= link_to 'Delete', article_path, method: :delete %> |
<% end %>
<%= link_to 'Back', articles_path %>
