<div>
  <% if user_signed_in? %>
    <%= link_to "Home Page", root_path %>
    <%= link_to "Create new Article", new_user_article_path(current_user) %>
    <%= link_to "My Profile", edit_user_registration %>
    <%= link_to 'My Articles Dashboard', user_articles_url(current_user) %>
    <%= link_to "Sign out", destroy_user_session, method: :delete %> <br />
  <% else %>
    <%= link_to "Sign in", new_user_session %>
    <%= link_to "Sign up", new_user_registration %> <br />
  <% end %>
</div>
